<<<<<<< HEAD
h1{
  color:lightblue;
=======
#hi{
  color:#545c87;
>>>>>>> b781560feee8f960cae0185eb4142f86332ddb96
  font-weight: 900;
}
#b{
  color:pink;
  background-color:black ;
  padding:15px 32px;
}
<<<<<<< HEAD

div {
    background: linear-gradient(to bottom, #4156A4 0%, #000000 100%);
}

h1:hover {
   color: Purple;
 }
=======
body{
  background-color:#D7E2E8 ;
}
>>>>>>> b781560feee8f960cae0185eb4142f86332ddb96
