
h1{
  color:lightblue;
  font-weight: 900;
}
#b{
  color:pink;
  background-color:black ;
  padding:15px 32px;
}
body{
  background-color:#D7E2E8 ;
}

div {
    background: linear-gradient(to bottom, #4156A4 0%, #000000 100%);
}

h1:hover {
   color: Purple;
 }
