
h1{
  color:lightblue;
  font-weight: 900;
}
#b{
  color:pink;
  background-color:black ;
  padding:15px 32px;
  font-weight: 700;
}
body {
   background-image: url("https://i.ytimg.com/vi/7O6oi_FxloA/maxresdefault.jpg");

}

h1:hover {
   color: Purple;
 }
 
 #myElement {
  background: silver;
  height: 200px;
  width :500px;
  text-align: left;
   font: 30px/300px Helvetica, Arial, sans-serif;
   color: blue;
  border-style: dotted;
  border-color: black;
  border-width: 10px;
  
     
 }
p{
    color: white;
    font-weight: 700;
}